mpm.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML"
  xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="mpm" start="mpm">
<!--        <moduleRef key="header"/>-->
<!--        <moduleRef key="core"/>-->
<!--        <moduleRef key="tei"/>-->
<!--        <moduleRef key="textstructure"/>-->
        <moduleSpec ident="mpm" mode="add" >
          <desc>metadata</desc>
        </moduleSpec>
        <moduleSpec ident="dynamics" mode="add" >
          <desc>dynamics</desc>
        </moduleSpec>
        <moduleSpec ident="meta" mode="add" >
          <desc>metadata</desc>
        </moduleSpec>
        <moduleSpec ident="header" mode="add" >
          <desc>header</desc>
        </moduleSpec>
        <moduleSpec ident="dated" mode="add" >
          <desc>dated</desc>
        </moduleSpec>
        <moduleSpec ident="vienna" mode="add" >
          <desc>The vienna module adds features for encoding Vienna Instruments velocityXFade controllers.</desc>
        </moduleSpec>
        <moduleSpec ident="artic" mode="add" >
          <desc>artic</desc>
        </moduleSpec>
        
        <!-- module HEADER -->
        
        <classSpec ident="model.header" type="model" module="header" mode="add">
          <desc>The header class</desc>
        </classSpec>
        
        <classSpec ident="att.nameable" type="atts" mode="add">
          <desc>Name attribute class.</desc>
          <attList>
            <attDef ident="name">
              <datatype>
                <rng:data type="string"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.partLike" type="atts" mode="add">
          <classes>
            <memberOf key="att.nameable"/>
          </classes>
          <attList>
            <attDef ident="port">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="channel">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">15</rng:param>
                </rng:data>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <!--<classSpec ident="att.midi" type="atts" mode="add">
          <attList>
            <attDef ident="port">
              <datatype>
                <rng:data type="integer"/>
              </datatype>
            </attDef>
            <attDef ident="channel">
              <constraintSpec ident="att.channel" scheme="schematron">
                <constraint>
                  <rng:data type="integer"/>
                </constraint>
              </constraintSpec>
              <valList type="closed">
                <valItem ident="1">
                  <gloss>1</gloss>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </classSpec>-->
        
        <elementSpec ident="mpm" ns="http://www.cemfi.de/mpm/ns/1.0" mode="add">
          <desc>root element of MPM.</desc>
          <content>
            <macroRef key="macro.anyName"/>
          </content>
        </elementSpec>
        
        <macroSpec ident="macro.anyName" mode="add">
          <desc>An element with an arbitrary name, except those predefine by MSM. First level children of the mpm-element are the so called perfomance styles. The ame of the element equals the name of the performance style.</desc>
          <content>
            <rng:oneOrMore>
              <rng:element ns="http://www.cemfi.de/mpm/ns/1.0">
                <rng:anyName>
                  <rng:except>
                    <rng:nsName ns=""/>
                    <rng:name>mpm</rng:name>
                    <rng:name>global</rng:name>
                    <rng:name>part</rng:name>
                    <rng:name>header</rng:name>
                    <rng:name>correspondingMidiFile</rng:name>
                    <rng:name>loop</rng:name>
                    <rng:name>mute</rng:name>
                    <rng:name>viennaCtrls</rng:name>
                    <rng:name>articulationStyles</rng:name>
                    <rng:name>dated</rng:name>
                    <rng:name>dynamicsmap</rng:name>
                    <rng:name>articulationmap</rng:name>
                    <rng:name>tempomap</rng:name>
                    <rng:name>barEmphasismap</rng:name>
                    <rng:name>element</rng:name>
                    <rng:name>switch</rng:name>
                  </rng:except>
                </rng:anyName>
                <rng:choice>
                  <rng:ref name="model.anyName.performance"/>
                  <rng:ref name="model.anyName.articStyles"/>
                </rng:choice>
              </rng:element>
            </rng:oneOrMore>
          </content>
        </macroSpec>
        
        <macroSpec ident="model.anyName.performance" mode="add">
          <desc>content of anyName</desc>
          <content>
            <rng:group atLeast="1">
              <rng:ref name="global"/>
              <rng:oneOrMore>
                <rng:ref name="part"  atLeast="1"/>
              </rng:oneOrMore>
            </rng:group>
          </content>
        </macroSpec>
        
        <macroSpec ident="model.anyName.articStyles" mode="add">
          <desc>content of anyName in articulationStyles</desc>
          <!--<content autoPrefix="false">
            <classRef key="att.artic"/>
            <macroRef key="model.anyName.articStyles.artic"/>
          </content>-->
          <content>
            <rng:oneOrMore>
              <rng:element ns="http://www.cemfi.de/mpm/ns/1.0">
                <rng:anyName>
                  <rng:except>
                    <rng:nsName ns=""/>
                    <rng:name>mpm</rng:name>
                    <rng:name>global</rng:name>
                    <rng:name>part</rng:name>
                    <rng:name>header</rng:name>
                    <rng:name>correspondingMidiFile</rng:name>
                    <rng:name>loop</rng:name>
                    <rng:name>mute</rng:name>
                    <rng:name>viennaCtrls</rng:name>
                    <rng:name>articulationStyles</rng:name>
                    <rng:name>dated</rng:name>
                    <rng:name>dynamicsmap</rng:name>
                    <rng:name>articulationmap</rng:name>
                    <rng:name>tempomap</rng:name>
                    <rng:name>barEmphasismap</rng:name>
                    <rng:name>element</rng:name>
                    <rng:name>switch</rng:name>
                  </rng:except>
                </rng:anyName>
                <rng:ref name="att.artic" mode="add"/>
                <!--<rng:attribute>
                  <rng:optional>
                    <rng:ref name="relativeDuration"/>
                  </rng:optional>
                  
                </rng:attribute>-->
                
                <!--<rng:group mode="add">
                  <rng:ref key="global" atLeast="1" atMost="1"/>
                  <rng:oneOrMore atLeast="1">
                    <rng:ref key="part"/>
                  </rng:oneOrMore>
                </rng:group>-->
                <!--<rng:choice>
                  <rng:ref name="model.anyName.performance"/>
                  <rng:ref name="model.anyName.articStyles"/>
                </rng:choice>-->
<!--                <rng:empty/>-->
              </rng:element>
            </rng:oneOrMore>
          </content>
        </macroSpec>
        
        <!--<macroSpec ident="macro.att.anyName" mode="add">
          <content>
            <rng:attribute>
              <rng:anyName/>
            </rng:attribute>
          </content>
        </macroSpec>-->
        
        <!--<macroSpec ident="model.anyName.articStyles.artic" mode="add">
          <desc>content of anyName in articulationStyles</desc>
          <content>
            <classRef key="att.artic"/>
            <macroRef key="content"/>
            
          </content>
        </macroSpec>-->
        
        <!--<macroSpec ident="content">
          <content>
            <rng:oneOrMore>
              <rng:element ns="http://www.cemfi.de/mpm/ns/1.0">
                <rng:anyName>
                  <rng:except>
                    <rng:nsName ns=""/>
                    <rng:name>mpm</rng:name>
                    <rng:name>global</rng:name>
                    <rng:name>header</rng:name>
                    <rng:name>loop</rng:name>
                    <rng:name>mute</rng:name>
                    <rng:name>articulationStyles</rng:name>
                    <rng:name>dated</rng:name>
                    <rng:name>part</rng:name>
                    <rng:name>articulationStyles</rng:name>
                  </rng:except>
                </rng:anyName>
                <!-\-                <rng:ref name="att.artic" mode="add"/>-\->
                <!-\-<rng:attribute>
                  <rng:optional>
                    <rng:ref name="relativeDuration"/>
                  </rng:optional>
                  
                </rng:attribute>-\->
                
                <!-\-<rng:group mode="add">
                  <rng:ref key="global" atLeast="1" atMost="1"/>
                  <rng:oneOrMore atLeast="1">
                    <rng:ref key="part"/>
                  </rng:oneOrMore>
                </rng:group>-\->
                <!-\-<rng:choice>
                  <rng:ref name="model.anyName.performance"/>
                  <rng:ref name="model.anyName.articStyles"/>
                </rng:choice>-\->
                <rng:empty/>
              </rng:element>
            </rng:oneOrMore>
          </content>
        </macroSpec>-->
        <!--<elementSpec ident="meta" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
          <desc>metadata concerning the pieces structure</desc>
          <content>
            
            <elementRef key="global"/>
          </content>
        </elementSpec>-->
        
        
        <elementSpec ident="global" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
          <content>
            <elementRef key="header"/>
            <elementRef key="dated"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="part" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
          <desc>Defines a part.</desc>
          <classes>
            <memberOf key="att.partLike"/>
          </classes>
          <content>
<!--            <classRef key="att.nameable"/>-->
            <elementRef key="header"/>
            <elementRef key="dated"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="header" ns="http://www.cemfi.de/mpm/ns/1.0" module="header" mode="add">
          <content>
            <rng:zeroOrMore>
              <rng:ref name="model.header"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="correspondingMidiFile" ns="http://www.cemfi.de/mpm/ns/1.0" module="header" mode="add">
          <desc>MIDI file reference</desc>
          <classes>
            <memberOf key="model.header"/>
            <memberOf key="att.nameable"/>
          </classes>
          <!--<attList>
            <attRef class="att.nameable"/>
          </attList>-->
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="loop" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="model.header"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="mute" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="model.header"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <classSpec ident="att.vienna" type="atts" module="vienna" mode="add">
          <attList>
            <attDef ident="velXFadeOnOff">
              <desc>Controller number for switching VelocityXFade on or off. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="velXFade">
              <desc>Controller number for VelocityXFade. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="hSpan">
              <desc>Controller number for switching the performance-matrix column (duration), standard value is 21.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="vSpan">
              <desc>Controller number for switching the performance-matrix row (articulation), standard value is 1 (pitchwheel), because in Vienna Instruments this is the corresponding standard controller.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.artic" type="atts" module="artic" mode="add">
          <attList>
            
            <!-- velocity -->
            <attDef ident="absoluteVelocity">
              <desc>Gives an absolute value for velocity that will replace existing velocity values.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="absoluteVelocityChange">
              <desc>Gives an absolute value (+/-) that will be added to the local velocity.</desc>
              <datatype>
                <rng:data type="int">
                  <!-- TODO: isn't there a sound basis for arguing minInclusive / maxInclusive to be  -127 / 127 -->
                  <!--<rng:param name="minInclusive">-127</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>-->
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="relativeVelocity">
              <desc>Gives a relative amount of velocity change as decimal number, e.g. 1=100% (no change), 0.5% (half velocity), 2.0=200% (double velocity).</desc>
              <datatype>
                <rng:data type="decimal">
                  <rng:param name="minInclusive">0.0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <!-- duration -->
            <attDef ident="absoluteDuration">
              <desc>Gives an absolute value for duration (in MIDI ticks) that will replace existing local duration values.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="absoluteDurationChange">
              <desc>Gives an absolute value (+/-) in MIDI ticks that will be added to the local duration values.</desc>
              <datatype>
                <rng:data type="int"/>
              </datatype>
            </attDef>
            
            <attDef ident="absoluteDurationMs">
              <desc>Gives an absolute duration in milliseconds that will replace existing local duration values.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="absoluteDurationChangeMs">
              <desc>Gives an absolute value (+/-) in milliseconds that will be added to existing local duration values.</desc>
              <datatype>
                <rng:data type="int"/>
              </datatype>
            </attDef>
            
            <attDef ident="relativeDuration">
              <desc>Gives a relative amount of duration change as decimal number, e.g. 1=100% (no change), 0.5% (half duration), 2.0=200% (double duration).</desc>
              <datatype>
                <rng:data type="decimal">
                  <rng:param name="minInclusive">0.0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
          </attList>
        </classSpec>
        
        <classSpec ident="att.artic.ref" type="atts" module="artic" mode="add">
          <desc>Group of attributes for referencing articulation styles.</desc>
          <attList>
            <attDef ident="style">
              <!-- TODO Schematron for controlling allowed values according to header/articulationStyles/* local-name() -->
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
            <attDef ident="standardArticulation">
              <!-- TODO Schematron for controlling allowed values according to header/articulationStyles/*/* local-name() -->
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.beat" type="atts" module="artic" mode="add">
          <desc>Group of attributes corresponding to beats.</desc>
          <attList>
            <attDef ident="bpm">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="beatLength">
              <datatype>
                <rng:data type="decimal">
                  <rng:param name="minInclusive">0.0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.dynamics" type="atts" module="dynamics" mode="add">
          <desc>Group of dynamics attributes.</desc>
          <attList>
            <attDef ident="volume">
              <!-- TODO Schematron for controlling allowed values according to parent::dynamicsmap/@* name() -->
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <elementSpec ident="viennaCtrls" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Vienna Instruments allow control of "Velocity-Cross-Fade", that influences velocity, expression, ChannelVolume and tone color accordingly. It can be addressed via specific controllers. To provide the engine with the right controller data this element allows the corresponding encoding. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</desc>
          <classes>
            <memberOf key="model.header"/>
            <memberOf key="att.vienna"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="articulationStyles" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Enoded in global or local context's header-element. Groups style definitions. Global an local info may complement each other. If definitions with the same name exist in global and local context, the local instructions will override global definitions.</desc>
          <classes>
            <memberOf key="model.header"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:ref name="macro.anyName"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <!-- module DATED -->
        
        <classSpec ident="class.map" type="model" mode="add">
          <desc>class.map groups all map elements.</desc>
        </classSpec>
        
        <classSpec ident="att.dated" type="atts" mode="add">
          <attList>
            <attDef ident="date">
              <datatype>
                <rng:data type="int"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <elementSpec ident="dated" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <content>
            <rng:zeroOrMore>
              <rng:ref name="class.map"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="dynamicsmap" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <desc>Allowed in global or local context as child of dated-element. Contains dated dynamics instructions. Preprocessing has to make sure a global dynamicsmap exists for every style, and pass them to lokal contexts (part-element) if no dynamicsmap is present there. So to say, the global dynamicsmap has to be propagated to local contexts if not overridden there.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:attribute>
                <rng:anyName/>
              </rng:attribute>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
              <rng:ref name="element"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="articulationmap" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <desc>Encoded in local contexts dated-element. Articulation instructions are encoded in this map's child elements.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="element"/>
                <rng:ref name="switch"/>
              </rng:choice>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="tempomap" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <desc>Allowed in global or local context as child of dated-element. Contains dated tempo instructions.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:ref name="element"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="barEmphasismap" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <desc>Allowed in global or local context as child of dated-element. Groups information on bar-based beat accentuation.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:ref name="element"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="element" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <desc>The element-element is used in many different contexts to indicate corresponding context-sensitive events.</desc>
          <classes>
            <memberOf key="att.dated"/>
            <memberOf key="att.beat"/>
            <memberOf key="att.dynamics"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="switch" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <desc>Presence of the switch element indicates a change of articulation style at a certain date. If @style not defined, processing defaults to first child of articulationStyles element if no given value or given value not defined.</desc>
          <classes>
            <memberOf key="att.dated"/>
            <memberOf key="att.artic.ref"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
