mpm.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML"
  xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="mpm" start="mpm">
<!--        <moduleRef key="header"/>-->
<!--        <moduleRef key="core"/>-->
<!--        <moduleRef key="tei"/>-->
<!--        <moduleRef key="textstructure"/>-->
        <moduleSpec ident="mpm" mode="add" >
          <desc>metadata</desc>
        </moduleSpec>
        <moduleSpec ident="dynamics" mode="add" >
          <desc>dynamics</desc>
        </moduleSpec>
        <moduleSpec ident="meta" mode="add" >
          <desc>metadata</desc>
        </moduleSpec>
        <moduleSpec ident="header" mode="add" >
          <desc>header</desc>
        </moduleSpec>
        <moduleSpec ident="dated" mode="add" >
          <desc>dated</desc>
        </moduleSpec>
        <moduleSpec ident="vienna" mode="add" >
          <desc>The vienna module adds features for encoding Vienna Instruments velocityXFade controllers.</desc>
        </moduleSpec>
        <moduleSpec ident="artic" mode="add" >
          <desc>artic</desc>
        </moduleSpec>
        
        <!-- module HEADER -->
        
        <classSpec ident="model.header" type="model" module="header" mode="add">
          <desc>The header class</desc>
        </classSpec>
        
        <classSpec ident="att.nameable" type="atts" mode="add">
          <attList>
            <attDef ident="name">
              <datatype>
                <rng:data type="string"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.partLike" type="atts" mode="add">
          <classes>
            <memberOf key="att.nameable"/>
          </classes>
          <attList>
            <attDef ident="port">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="channel">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">15</rng:param>
                </rng:data>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <!--<classSpec ident="att.midi" type="atts" mode="add">
          <attList>
            <attDef ident="port">
              <datatype>
                <rng:data type="integer"/>
              </datatype>
            </attDef>
            <attDef ident="channel">
              <constraintSpec ident="att.channel" scheme="schematron">
                <constraint>
                  <rng:data type="integer"/>
                </constraint>
              </constraintSpec>
              <valList type="closed">
                <valItem ident="1">
                  <gloss>1</gloss>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </classSpec>-->
        
        <elementSpec ident="mpm" ns="http://www.cemfi.de/mpm/ns/1.0" mode="add">
          <desc>root element of mpm</desc>
          <content>
            <macroRef key="macro.anyName"/>
          </content>
        </elementSpec>
        
        <macroSpec ident="macro.anyName" mode="add">
          <desc>An element with an arbitrary name</desc>
          <content>
            <rng:oneOrMore>
              <rng:element ns="http://www.cemfi.de/mpm/ns/1.0">
                <rng:anyName>
                  <rng:except>
                    <rng:nsName ns=""/>
                    <rng:name>mpm</rng:name>
                    <rng:name>global</rng:name>
                    <rng:name>header</rng:name>
                    <rng:name>loop</rng:name>
                    <rng:name>mute</rng:name>
                    <rng:name>articulationStyles</rng:name>
                    <rng:name>dated</rng:name>
                    <rng:name>part</rng:name>
                  </rng:except>
                </rng:anyName>
                <!--<rng:group mode="add">
                  <rng:ref key="global" atLeast="1" atMost="1"/>
                  <rng:oneOrMore atLeast="1">
                    <rng:ref key="part"/>
                  </rng:oneOrMore>
                </rng:group>-->
                <rng:choice>
                  <rng:ref name="model.anyName.performance"/>
                  <rng:ref name="model.anyName.articStyles"/>
                </rng:choice>
              </rng:element>
            </rng:oneOrMore>
          </content>
        </macroSpec>
        
        <macroSpec ident="model.anyName.performance" mode="add">
          <desc>content of anyName</desc>
          <content>
            <rng:group atLeast="1">
              <rng:ref name="global"/>
              <rng:oneOrMore>
                <rng:ref name="part"  atLeast="1"/>
              </rng:oneOrMore>
            </rng:group>
          </content>
        </macroSpec>
        
        <macroSpec ident="model.anyName.articStyles" mode="add">
          <desc>content of anyName in articulationStyles</desc>
          <!--<content autoPrefix="false">
            <classRef key="att.artic"/>
            <macroRef key="model.anyName.articStyles.artic"/>
          </content>-->
          <content>
            <rng:oneOrMore>
              <rng:element ns="http://www.cemfi.de/mpm/ns/1.0">
                <rng:anyName>
                  <rng:except>
                    <rng:nsName ns=""/>
                    <rng:name>mpm</rng:name>
                    <rng:name>global</rng:name>
                    <rng:name>header</rng:name>
                    <rng:name>loop</rng:name>
                    <rng:name>mute</rng:name>
                    <rng:name>articulationStyles</rng:name>
                    <rng:name>dated</rng:name>
                    <rng:name>part</rng:name>
                    <rng:name>articulationStyles</rng:name>
                  </rng:except>
                </rng:anyName>
                <rng:ref name="att.artic" mode="add"/>
                <!--<rng:attribute>
                  <rng:optional>
                    <rng:ref name="relativeDuration"/>
                  </rng:optional>
                  
                </rng:attribute>-->
                
                <!--<rng:group mode="add">
                  <rng:ref key="global" atLeast="1" atMost="1"/>
                  <rng:oneOrMore atLeast="1">
                    <rng:ref key="part"/>
                  </rng:oneOrMore>
                </rng:group>-->
                <!--<rng:choice>
                  <rng:ref name="model.anyName.performance"/>
                  <rng:ref name="model.anyName.articStyles"/>
                </rng:choice>-->
<!--                <rng:empty/>-->
              </rng:element>
            </rng:oneOrMore>
          </content>
        </macroSpec>
        
        <!--<macroSpec ident="macro.att.anyName" mode="add">
          <content>
            <rng:attribute>
              <rng:anyName/>
            </rng:attribute>
          </content>
        </macroSpec>-->
        
        <!--<macroSpec ident="model.anyName.articStyles.artic" mode="add">
          <desc>content of anyName in articulationStyles</desc>
          <content>
            <classRef key="att.artic"/>
            <macroRef key="content"/>
            
          </content>
        </macroSpec>-->
        
        <!--<macroSpec ident="content">
          <content>
            <rng:oneOrMore>
              <rng:element ns="http://www.cemfi.de/mpm/ns/1.0">
                <rng:anyName>
                  <rng:except>
                    <rng:nsName ns=""/>
                    <rng:name>mpm</rng:name>
                    <rng:name>global</rng:name>
                    <rng:name>header</rng:name>
                    <rng:name>loop</rng:name>
                    <rng:name>mute</rng:name>
                    <rng:name>articulationStyles</rng:name>
                    <rng:name>dated</rng:name>
                    <rng:name>part</rng:name>
                    <rng:name>articulationStyles</rng:name>
                  </rng:except>
                </rng:anyName>
                <!-\-                <rng:ref name="att.artic" mode="add"/>-\->
                <!-\-<rng:attribute>
                  <rng:optional>
                    <rng:ref name="relativeDuration"/>
                  </rng:optional>
                  
                </rng:attribute>-\->
                
                <!-\-<rng:group mode="add">
                  <rng:ref key="global" atLeast="1" atMost="1"/>
                  <rng:oneOrMore atLeast="1">
                    <rng:ref key="part"/>
                  </rng:oneOrMore>
                </rng:group>-\->
                <!-\-<rng:choice>
                  <rng:ref name="model.anyName.performance"/>
                  <rng:ref name="model.anyName.articStyles"/>
                </rng:choice>-\->
                <rng:empty/>
              </rng:element>
            </rng:oneOrMore>
          </content>
        </macroSpec>-->
        <!--<elementSpec ident="meta" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
          <desc>metadata concerning the pieces structure</desc>
          <content>
            
            <elementRef key="global"/>
          </content>
        </elementSpec>-->
        
        
        <elementSpec ident="global" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
          <content>
            <elementRef key="header"/>
            <elementRef key="dated"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="part" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
          <classes>
            <memberOf key="att.partLike"/>
          </classes>
          <content>
            <!--<attribute xmlns="http://relaxng.org/ns/structure/1.0" ns="http://www.cemfi.de/mpm/ns/1.0" module="meta" mode="add">
              <anyName></anyName>
              <data></data>
            </attribute>-->
            <classRef key="att.nameable"/>
            <elementRef key="header"/>
            <elementRef key="dated"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="header" ns="http://www.cemfi.de/mpm/ns/1.0" module="header" mode="add">
          <content>
            <rng:zeroOrMore>
              <rng:ref name="model.header"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="correspondingMidiFile" ns="http://www.cemfi.de/mpm/ns/1.0" module="header" mode="add">
          <desc>MIDI file reference</desc>
          <classes>
            <memberOf key="model.header"/>
            <memberOf key="att.nameable"/>
          </classes>
          <!--<attList>
            <attRef class="att.nameable"/>
          </attList>-->
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="loop" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="model.header"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="mute" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="model.header"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <classSpec ident="att.vienna" type="atts" module="vienna" mode="add">
          <attList>
            <attDef ident="velXFadeOnOff">
              <desc>Controller number for switching VelocityXFade on or off. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="velXFade">
              <desc>Controller number for VelocityXFade. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="hSpan">
              <desc>Controller number for switching the performance-matrix column (duration), standard value is 21.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="vSpan">
              <desc>Controller number for switching the performance-matrix row (articulation), standard value is 1 (pitchwheel), because in Vienna Instruments this is the corresponding standard controller.</desc>
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.artic" type="atts" module="artic" mode="add">
          <attList>
            <attDef ident="absoluteVelocity">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="absoluteVelocityChange">
              <datatype>
                <rng:data type="int">
                  <!--<rng:param name="minInclusive">-127</rng:param>
                  <rng:param name="maxInclusive">127</rng:param>-->
                </rng:data>
              </datatype>
            </attDef>
            <attDef ident="relativeDuration">
              <datatype>
                <rng:data type="decimal">
                  <rng:param name="minInclusive">0.0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="absoluteDurationMs">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="absoluteDurationChange">
              <datatype>
                <rng:data type="int"/>
              </datatype>
            </attDef>
            
          </attList>
        </classSpec>
        
        <classSpec ident="att.artic.ref" type="atts" module="artic" mode="add">
          <attList>
            <attDef ident="style">
              <!-- TODO Schematron for controlling allowed values according to header/articulationStyles/* local-name() -->
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
            <attDef ident="standardArticulation">
              <!-- TODO Schematron for controlling allowed values according to header/articulationStyles/*/* local-name() -->
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.beat" type="atts" module="artic" mode="add">
          <attList>
            <attDef ident="bpm">
              <datatype>
                <rng:data type="int">
                  <rng:param name="minInclusive">0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
            
            <attDef ident="beatLength">
              <datatype>
                <rng:data type="decimal">
                  <rng:param name="minInclusive">0.0</rng:param>
                </rng:data>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec ident="att.dynamics" type="atts" module="dynamics" mode="add">
          <attList>
            <attDef ident="volume">
              <!-- TODO Schematron for controlling allowed values according to parent::dynamicsmap/@* name() -->
              <datatype>
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        <!--<classSpec ident="class.att.anyName" type="atts" module="mpm" mode="add">
          <attList>
            <attDef ident=""></attDef>
          </attList>
        </classSpec>-->
        
        <elementSpec ident="viennaCtrls" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Vienna Instruments allow control of "Velocity-Cross-Fade", that influences velocity, expression, ChannelVolume and tone color accordingly. It can be addressed via specific controllers. To provide the engine with the right controller data this element allows the corresponding encoding. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</desc>
          <classes>
            <memberOf key="model.header"/>
            <memberOf key="att.vienna"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="articulationStyles" ns="http://www.cemfi.de/mpm/ns/1.0"  module="header" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="model.header"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:ref name="macro.anyName"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <!-- module DATED -->
        
        <classSpec ident="class.map" type="model" mode="add">
          <desc>map elements</desc>
        </classSpec>
        
        <classSpec ident="att.dated" type="atts" mode="add">
          <attList>
            <attDef ident="date">
              <datatype>
                <rng:data type="int"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <elementSpec ident="dated" ns="http://www.cemfi.de/mpm/ns/1.0" module="dated" mode="add">
          <content>
            <rng:zeroOrMore>
              <rng:ref name="class.map"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="dynamicsmap" ns="http://www.cemfi.de/mpm/ns/1.0"  module="dated" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="class.map"/>
<!--            <memberOf key="class.att.anyName"/>-->
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:attribute>
                <rng:anyName/>
              </rng:attribute>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
              <rng:ref name="element"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="articulationmap" ns="http://www.cemfi.de/mpm/ns/1.0"  module="dated" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:ref name="element"/>
                <rng:ref name="switch"/>
              </rng:choice>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="tempomap" ns="http://www.cemfi.de/mpm/ns/1.0"  module="dated" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:ref name="element"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="barEmphasismap" ns="http://www.cemfi.de/mpm/ns/1.0"  module="dated" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="class.map"/>
          </classes>
          <content>
            <rng:zeroOrMore>
              <rng:ref name="element"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="element" ns="http://www.cemfi.de/mpm/ns/1.0"  module="dated" mode="add">
          <desc>Presence of the loop element indicates that the piece will be looped. Will be overwritten by local settings.</desc>
          <classes>
            <memberOf key="att.dated"/>
            <memberOf key="att.beat"/>
            <memberOf key="att.dynamics"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
        
        <elementSpec ident="switch" ns="http://www.cemfi.de/mpm/ns/1.0"  module="dated" mode="add">
          <desc>Presence of the switch element indicates a change of articulation style at a certain date.</desc>
          <classes>
            <memberOf key="att.dated"/>
            <memberOf key="att.artic.ref"/>
          </classes>
          <content>
            <rng:empty/>
          </content>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
