schemata/mpm.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:tei="http://www.tei-c.org/ns/1.0"
         xmlns:teix="http://www.tei-c.org/ns/Examples"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.cemfi.de/mpm/ns/1.0"><!--
Schema generated from ODD source 2020-01-22T15:50:36Z. .
TEI Edition: Version 3.5.0. Last updated on
	29th January 2019, revision 3c0c64ec4
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0/
  
--><!--This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/4.0/] Distributed under Creative Commons Attribution-ShareAlike 4.0 License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2020 Axel Berndt. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. In the MPM format definition we make use of the TEI ODD format that is published under CC-BY-3.0 and BSD-2.0. MPM material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC BY-SA and BSD-2 licences. The CC BY-SA licence is generally appropriate for usages which treat MPM content as data or documentation. The BSD-2 licence is generally appropriate for usage of MPM content in a software environment. For further information or clarification, please contact the Axel Berndt.-->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="mpm.att.reference.resource.attributes">
      <ref name="mpm.att.reference.resource.attribute.uri"/>
      <ref name="mpm.att.reference.resource.attribute.type"/>
   </define>
   <define name="mpm.att.reference.resource.attribute.uri">
      <attribute name="uri">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Uniform Resource Identifier) </a:documentation>
         <data type="anyURI"/>
      </attribute>
   </define>
   <define name="mpm.att.reference.resource.attribute.type">
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(type identifier) This attribute should be used to indicate the type of the resource.</a:documentation>
         <data type="token">
            <param name="pattern">(\p{L}|\p{N}|\p{P}|\p{S})+</param>
         </data>
      </attribute>
   </define>
   <define name="mpm.att.id.attributes">
      <ref name="mpm.att.id.attribute.xmlid"/>
   </define>
   <define name="mpm.att.id.attribute.xmlid">
      <optional>
         <attribute name="xml:id">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(identifier) This provides a unique identifier for the element bearing the attribute.</a:documentation>
            <data type="ID"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.name.attributes">
      <ref name="mpm.att.name.attribute.name"/>
   </define>
   <define name="mpm.att.name.attribute.name">
      <attribute name="name">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name identifier) This attribute should be used to specify a name identifier for the element.</a:documentation>
         <data type="string"/>
      </attribute>
   </define>
   <define name="mpm.att.number.attributes">
      <ref name="mpm.att.number.attribute.number"/>
   </define>
   <define name="mpm.att.number.attribute.number">
      <attribute name="number">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(numeric identifier) This attribute should be used to specify an integer identifier for the element, which is not necessarily unique within the document.</a:documentation>
         <data type="integer"/>
      </attribute>
   </define>
   <define name="mpm.att.midiRouting.attributes">
      <ref name="mpm.att.midiRouting.attribute.midi.channel"/>
      <ref name="mpm.att.midiRouting.attribute.midi.port"/>
   </define>
   <define name="mpm.att.midiRouting.attribute.midi.channel">
      <attribute name="midi.channel">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(MIDI channel number) Channel numbering starts with 0! The first MIDI channel is 0. the 16th MIDI channel is 15.</a:documentation>
         <data type="nonNegativeInteger">
            <param name="minInclusive">0</param> 
            <param name="maxInclusive">15</param>
         </data>
      </attribute>
   </define>
   <define name="mpm.att.midiRouting.attribute.midi.port">
      <attribute name="midi.port">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(MIDI port number) Each MIDI device (MIDI port) can have up to 16 channels (i.e. voices) which is sometimes not enough, e.g. for an orchestral setup. To address further voices choose another port.</a:documentation>
         <data type="nonNegativeInteger">
            <param name="minInclusive">0</param> 
            <param name="maxInclusive">255</param>
         </data>
      </attribute>
   </define>
   <define name="mpm.att.pulsesPerQuarter.attributes">
      <ref name="mpm.att.pulsesPerQuarter.attribute.pulsesPerQuarter"/>
   </define>
   <define name="mpm.att.pulsesPerQuarter.attribute.pulsesPerQuarter">
      <attribute name="pulsesPerQuarter">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pulses per quarter note) This attribute specifies the timing resolution of the maps, i.e. of attributes with a symbolic time value such as date and duration.</a:documentation>
         <data type="nonNegativeInteger"/>
      </attribute>
   </define>
   <define name="mpm.att.time.symbolic.date.attributes">
      <ref name="mpm.att.time.symbolic.date.attribute.date"/>
   </define>
   <define name="mpm.att.time.symbolic.date.attribute.date">
      <attribute name="date">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(symbolic date) Attribute date provides a symbolic (i.e. tempo-independent) position in time for a map element. The basis to convert this date into a musical note value is the performance's pulsesPerQuarter value.</a:documentation>
         <data type="double">
            <param name="minInclusive">0.0</param>
         </data>
      </attribute>
   </define>
   <define name="mpm.att.time.physical.milliseconds.offset.attributes">
      <ref name="mpm.att.time.physical.milliseconds.offset.attribute.milliseconds.offset"/>
   </define>
   <define name="mpm.att.time.physical.milliseconds.offset.attribute.milliseconds.offset">
      <attribute name="milliseconds.offset">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(offset in milliseconds) This attribute defines an offset/delay (positive or negative) in milliseconds.</a:documentation>
         <data type="double"/>
      </attribute>
   </define>
   <define name="mpm.att.time.physical.milliseconds.timingBasis.attributes">
      <ref name="mpm.att.time.physical.milliseconds.timingBasis.attribute.milliseconds.timingBasis"/>
   </define>
   <define name="mpm.att.time.physical.milliseconds.timingBasis.attribute.milliseconds.timingBasis">
      <attribute name="milliseconds.timingBasis">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(timing basis in milliseconds) defines the timing basis in milliseconds.</a:documentation>
         <data type="double">
            <param name="minExclusive">0.0</param>
         </data>
      </attribute>
   </define>
   <define name="mpm.att.distribution.limits.attributes">
      <ref name="mpm.att.distribution.limits.attribute.limit.lower"/>
      <ref name="mpm.att.distribution.limits.attribute.limit.upper"/>
   </define>
   <define name="mpm.att.distribution.limits.attribute.limit.lower">
      <attribute name="limit.lower">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(lower limit) defines the lowest possible value.</a:documentation>
         <data type="double"/>
      </attribute>
   </define>
   <define name="mpm.att.distribution.limits.attribute.limit.upper">
      <attribute name="limit.upper">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(limit.upper) defines the highest possible value.</a:documentation>
         <data type="double"/>
      </attribute>
   </define>
   <define name="mpm.att.distribution.deviation.standard.attributes">
      <ref name="mpm.att.distribution.deviation.standard.attribute.deviation.standard"/>
   </define>
   <define name="mpm.att.distribution.deviation.standard.attribute.deviation.standard">
      <attribute name="deviation.standard">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(standard deviation) defines the standard deviation.</a:documentation>
         <data type="double"/>
      </attribute>
   </define>
   <define name="mpm.model.distributionLike">
      <choice>
         <ref name="mpm.distribution.uniform"/>
         <ref name="mpm.distribution.gaussian"/>
         <ref name="mpm.distribution.correlated.brownianNoise"/>
      </choice>
   </define>
   <define name="mpm.mpm">
      <element name="mpm" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(MPM document) The root element of an MPM-conformant document.</a:documentation>
         <optional>
            <ref name="mpm.relatedResources"/>
         </optional>
         <oneOrMore>
            <ref name="mpm.performance"/>
         </oneOrMore>
      </element>
   </define>
   <define name="mpm.relatedResources">
      <element name="relatedResources" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(related resources) This element can be used to proved references to related resources of (musical) data.</a:documentation>
         <oneOrMore>
            <ref name="mpm.resource"/>
         </oneOrMore>
      </element>
   </define>
   <define name="mpm.resource">
      <element name="resource" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(data reference) This element represents a reference to a related resource of (musical) data.</a:documentation>
         <empty/>
         <ref name="mpm.att.reference.resource.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.performance">
      <element name="performance" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(performance description) This element includes all information of a single musical performance.</a:documentation>
         <ref name="mpm.global"/>
         <zeroOrMore>
            <ref name="mpm.part"/>
         </zeroOrMore>
         <ref name="mpm.att.name.attributes"/>
         <ref name="mpm.att.id.attributes"/>
         <ref name="mpm.att.pulsesPerQuarter.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.global">
      <element name="global" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(global performance data) This element includes all information that apply to all parts of a musical performance.</a:documentation>
         <ref name="mpm.header"/>
         <ref name="mpm.dated"/>
      </element>
   </define>
   <define name="mpm.part">
      <element name="part" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(part-specific performance data) This element includes all information that applies to a specific musical part or voice.</a:documentation>
         <ref name="mpm.header"/>
         <ref name="mpm.dated"/>
         <ref name="mpm.att.name.attributes"/>
         <ref name="mpm.att.number.attributes"/>
         <ref name="mpm.att.id.attributes"/>
         <ref name="mpm.att.midiRouting.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.header">
      <element name="header" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(header information) The header environment in MPM is the place for non-dateable information, i.e. information that are not tied to a particular position on the time axis, such as style definitions.</a:documentation>
         <optional>
            <optional>
               <ref name="mpm.articulationStyles"/>
            </optional>
            <optional>
               <ref name="mpm.dynamicsStyles"/>
            </optional>
            <optional>
               <ref name="mpm.metricalAccentuationStyles"/>
            </optional>
            <optional>
               <ref name="mpm.rubatoStyles"/>
            </optional>
            <optional>
               <ref name="mpm.tempoStyles"/>
            </optional>
         </optional>
      </element>
   </define>
   <define name="mpm.dated">
      <element name="dated" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(dated information) The dated environment is the place for all datable information, ie. that are located at a specific position in time. They are organised in maps. Each map represents a specific domain, such as tempo, rubato, asynchrony, dynamics, metrical accentuation, articulation, etc.</a:documentation>
         <optional>
            <optional>
               <ref name="mpm.articulationMap"/>
            </optional>
            <optional>
               <ref name="mpm.asynchronyMap"/>
            </optional>
            <optional>
               <ref name="mpm.dynamicsMap"/>
            </optional>
            <optional>
               <ref name="mpm.metricalAccentuationMap"/>
            </optional>
            <optional>
               <ref name="mpm.tempoMap"/>
            </optional>
            <optional>
               <ref name="mpm.rubatoMap"/>
            </optional>
            <optional>
               <ref name="mpm.imprecisionMap"/>
            </optional>
            <optional>
               <ref name="mpm.imprecisionMap.timing"/>
            </optional>
            <optional>
               <ref name="mpm.imprecisionMap.dynamics"/>
            </optional>
            <optional>
               <ref name="mpm.imprecisionMap.toneduration"/>
            </optional>
            <optional>
               <ref name="mpm.imprecisionMap.tuning"/>
            </optional>
         </optional>
      </element>
   </define>
   <define name="mpm.articulationStyles">
      <element name="articulationStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(articulation style collection) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.dynamicsStyles">
      <element name="dynamicsStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(dynamics style collection) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.metricalAccentuationStyles">
      <element name="metricalAccentuationStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(collection of styles for metrical accentuation) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.rubatoStyles">
      <element name="rubatoStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rubato style collection) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.tempoStyles">
      <element name="tempoStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(teampo style collection) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.articulationMap">
      <element name="articulationMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(articulation map) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.asynchronyMap">
      <element name="asynchronyMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(asynchrony map) The asynchronyMap is used to specify timing offsets/delays of a musical part or group of parts.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.asynchrony"/>
         </zeroOrMore>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.asynchrony">
      <element name="asynchrony" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(asynchrony) This element sets a constant milliseconds offset starting a the musical position specified via attribute date ans lasting until the subsequent asynchrony element in the asynchronyMap specifies a different offset.</a:documentation>
         <empty/>
         <ref name="mpm.att.time.symbolic.date.attributes"/>
         <ref name="mpm.att.time.physical.milliseconds.offset.attributes"/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.dynamicsMap">
      <element name="dynamicsMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(dynamics map) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.metricalAccentuationMap">
      <element name="metricalAccentuationMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(metrical accentuation map) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.tempoMap">
      <element name="tempoMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(tempo map) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.rubatoMap">
      <element name="rubatoMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rubato map) ...</a:documentation>
         <empty/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.imprecisionMap">
      <element name="imprecisionMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(imprecision map) This map is used to model random fluctuations. The domain, however, is unspecified.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.model.distributionLike"/>
         </zeroOrMore>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.imprecisionMap.timing">
      <element name="imprecisionMap.timing" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(imprecision map timing) This map is used to model random timing/rhythmical fluctuations.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.model.distributionLike"/>
         </zeroOrMore>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.imprecisionMap.dynamics">
      <element name="imprecisionMap.dynamics" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(imprecision map dynamics) This map is used to model random dynamics fluctuations.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.model.distributionLike"/>
         </zeroOrMore>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.imprecisionMap.toneduration">
      <element name="imprecisionMap.toneduration" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(imprecision map tone duration) This map is used to model random imprecision in articulation/tone duration.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.model.distributionLike"/>
         </zeroOrMore>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.imprecisionMap.tuning">
      <element name="imprecisionMap.tuning" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(imprecision map tuning) This map is used to model random fluctuations in tuning.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.model.distributionLike"/>
         </zeroOrMore>
         <ref name="mpm.att.id.attributes"/>
         <attribute name="detuneUnit">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(detune unit) specifies the measure of detuning.</a:documentation>
            <choice>
               <value>cents</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>Hz</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <value>Hertz</value>
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            </choice>
         </attribute>
         <empty/>
      </element>
   </define>
   <define name="mpm.distribution.uniform">
      <element name="distribution.uniform" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(uniform distribution) This defines a uniform distribution within the specified limits (inclusive).</a:documentation>
         <empty/>
         <ref name="mpm.att.time.symbolic.date.attributes"/>
         <ref name="mpm.att.distribution.limits.attributes"/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.distribution.gaussian">
      <element name="distribution.gaussian" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(gaussian distribution) This defines a gaussian distribution. Its expectation value is 0.0. Attributes limit.lower and limit.upper are used to limit the range of random values.</a:documentation>
         <empty/>
         <ref name="mpm.att.time.symbolic.date.attributes"/>
         <ref name="mpm.att.distribution.deviation.standard.attributes"/>
         <ref name="mpm.att.distribution.limits.attributes"/>
         <ref name="mpm.att.id.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.distribution.correlated.brownianNoise">
      <element name="distribution.correlated.brownianNoise"
               ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Brownian noise distribution) This defines a correlated distribution based on Brownian noise.</a:documentation>
         <empty/>
         <ref name="mpm.att.time.symbolic.date.attributes"/>
         <ref name="mpm.att.distribution.limits.attributes"/>
         <ref name="mpm.att.time.physical.milliseconds.timingBasis.attributes"/>
         <ref name="mpm.att.id.attributes"/>
         <attribute name="stepWidth.max">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(maximum step width) specifies the maximum value change width from one time step to the next.</a:documentation>
            <data type="double">
               <param name="minInclusive">0.0</param>
            </data>
         </attribute>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="mpm.mpm"/>
      </choice>
   </start>
</grammar>
