schemata/mpm.dtd


<!--
DTD generated from ODD source 2020-01-24T15:06:54Z. .This material is dual-licensed.
[http://creativecommons.org/licenses/by-sa/4.0/] Distributed under Creative Commons Attribution-ShareAlike 4.0 License  [http://www.opensource.org/licenses/BSD-2-Clause] Copyright 2020 Axel Berndt. All rights reserved. Redistribution and use in source and binary forms, with or without modification, are permitted provided that the following conditions are met: Redistributions of source code must retain the above copyright notice, this list of conditions and the following disclaimer. Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the following disclaimer in the documentation and/or other materials provided with the distribution. This software is provided by the copyright holders and contributors "as is" and any express or implied warranties, including, but not limited to, the implied warranties of merchantability and fitness for a particular purpose are disclaimed. In no event shall the copyright holder or contributors be liable for any direct, indirect, incidental, special, exemplary, or consequential damages (including, but not limited to, procurement of substitute goods or services; loss of use, data, or profits; or business interruption) however caused and on any theory of liability, whether in contract, strict liability, or tort (including negligence or otherwise) arising in any way out of the use of this software, even if advised of the possibility of such damage. In the MPM format definition we make use of the TEI ODD format that is published under CC-BY-3.0 and BSD-2.0. MPM material can be licensed differently depending on the use you intend to make of it. Hence it is made available under both the CC BY-SA and BSD-2 licences. The CC BY-SA licence is generally appropriate for usages which treat MPM content as data or documentation. The BSD-2 licence is generally appropriate for usage of MPM content in a software environment. For further information or clarification, please contact the Axel Berndt.
TEI Edition: Version 3.5.0. Last updated on
	29th January 2019, revision 3c0c64ec4
TEI Edition Location: http://www.tei-c.org/Vault/P5/Version 3.5.0/

-->

<!-- predeclared classes -->

<!ENTITY % model.partContent "header |dated"> 
<!ENTITY % model.partContent_sequence "header, dated"> 
<!ENTITY % model.partContent_sequenceOptional "header?, dated?"> 
<!ENTITY % model.partContent_sequenceOptionalRepeatable "header*, dated*"> 
<!ENTITY % model.partContent_sequenceRepeatable "header+, dated+"> 
<!ENTITY % model.styleCollectionLike "articulationStyles |dynamicsStyles |metricalAccentuationStyles |rubatoStyles |tempoStyles"> 
<!ENTITY % model.styleCollectionLike_sequence "articulationStyles, dynamicsStyles, metricalAccentuationStyles, rubatoStyles, tempoStyles"> 
<!ENTITY % model.styleCollectionLike_sequenceOptional "articulationStyles?, dynamicsStyles?, metricalAccentuationStyles?, rubatoStyles?, tempoStyles?"> 
<!ENTITY % model.styleCollectionLike_sequenceOptionalRepeatable "articulationStyles*, dynamicsStyles*, metricalAccentuationStyles*, rubatoStyles*, tempoStyles*"> 
<!ENTITY % model.styleCollectionLike_sequenceRepeatable "articulationStyles+, dynamicsStyles+, metricalAccentuationStyles+, rubatoStyles+, tempoStyles+"> 
<!ENTITY % model.mapLike "articulationMap |asynchronyMap |dynamicsMap |metricalAccentuationMap |tempoMap |rubatoMap |imprecisionMap |imprecisionMap.timing |imprecisionMap.dynamics |imprecisionMap.toneduration |imprecisionMap.tuning"> 
<!ENTITY % model.mapLike_sequence "articulationMap, asynchronyMap, dynamicsMap, metricalAccentuationMap, tempoMap, rubatoMap, imprecisionMap, imprecisionMap.timing, imprecisionMap.dynamics, imprecisionMap.toneduration, imprecisionMap.tuning"> 
<!ENTITY % model.mapLike_sequenceOptional "articulationMap?, asynchronyMap?, dynamicsMap?, metricalAccentuationMap?, tempoMap?, rubatoMap?, imprecisionMap?, imprecisionMap.timing?, imprecisionMap.dynamics?, imprecisionMap.toneduration?, imprecisionMap.tuning?"> 
<!ENTITY % model.mapLike_sequenceOptionalRepeatable "articulationMap*, asynchronyMap*, dynamicsMap*, metricalAccentuationMap*, tempoMap*, rubatoMap*, imprecisionMap*, imprecisionMap.timing*, imprecisionMap.dynamics*, imprecisionMap.toneduration*, imprecisionMap.tuning*"> 
<!ENTITY % model.mapLike_sequenceRepeatable "articulationMap+, asynchronyMap+, dynamicsMap+, metricalAccentuationMap+, tempoMap+, rubatoMap+, imprecisionMap+, imprecisionMap.timing+, imprecisionMap.dynamics+, imprecisionMap.toneduration+, imprecisionMap.tuning+"> 
<!ENTITY % model.distributionLike "distribution.uniform |distribution.gaussian |distribution.triangular |distribution.correlated.brownianNoise |distribution.correlated.compensatingTriangle |distribution.list"> 
<!ENTITY % model.distributionLike_sequence "distribution.uniform, distribution.gaussian, distribution.triangular, distribution.correlated.brownianNoise, distribution.correlated.compensatingTriangle, distribution.list"> 
<!ENTITY % model.distributionLike_sequenceOptional "distribution.uniform?, distribution.gaussian?, distribution.triangular?, distribution.correlated.brownianNoise?, distribution.correlated.compensatingTriangle?, distribution.list?"> 
<!ENTITY % model.distributionLike_sequenceOptionalRepeatable "distribution.uniform*, distribution.gaussian*, distribution.triangular*, distribution.correlated.brownianNoise*, distribution.correlated.compensatingTriangle*, distribution.list*"> 
<!ENTITY % model.distributionLike_sequenceRepeatable "distribution.uniform+, distribution.gaussian+, distribution.triangular+, distribution.correlated.brownianNoise+, distribution.correlated.compensatingTriangle+, distribution.list+"> 
<!-- end of predeclared classes -->

<!ENTITY % mpm.att.reference.resource.attribute.uri '
uri CDATA #REQUIRED'>

<!ENTITY % mpm.att.reference.resource.attribute.type '
type CDATA #REQUIRED'>
<!ENTITY % mpm.att.reference.resource.attributes '
 %mpm.att.reference.resource.attribute.uri;
 %mpm.att.reference.resource.attribute.type;'> 
<!ENTITY % mpm.att.reference.name.attribute.name.ref '
name.ref CDATA #IMPLIED'>
<!ENTITY % mpm.att.reference.name.attributes '
 %mpm.att.reference.name.attribute.name.ref;'> 
<!ENTITY % mpm.att.id.attribute.xmlid '
xml:id ID #IMPLIED'>
<!ENTITY % mpm.att.id.attributes '
 %mpm.att.id.attribute.xmlid;'> 
<!ENTITY % mpm.att.name.attribute.name '
name CDATA #REQUIRED'>
<!ENTITY % mpm.att.name.attributes '
 %mpm.att.name.attribute.name;'> 
<!ENTITY % mpm.att.number.attribute.number '
number CDATA #REQUIRED'>
<!ENTITY % mpm.att.number.attributes '
 %mpm.att.number.attribute.number;'> 
<!ENTITY % mpm.att.value.double.attribute.value '
value CDATA #REQUIRED'>
<!ENTITY % mpm.att.value.double.attributes '
 %mpm.att.value.double.attribute.value;'> 
<!ENTITY % mpm.att.midiRouting.attribute.midi.channel '
midi.channel CDATA #REQUIRED'>

<!ENTITY % mpm.att.midiRouting.attribute.midi.port '
midi.port CDATA #REQUIRED'>
<!ENTITY % mpm.att.midiRouting.attributes '
 %mpm.att.midiRouting.attribute.midi.channel;
 %mpm.att.midiRouting.attribute.midi.port;'> 
<!ENTITY % mpm.att.pulsesPerQuarter.attribute.pulsesPerQuarter '
pulsesPerQuarter CDATA #REQUIRED'>
<!ENTITY % mpm.att.pulsesPerQuarter.attributes '
 %mpm.att.pulsesPerQuarter.attribute.pulsesPerQuarter;'> 
<!ENTITY % mpm.att.time.symbolic.date.attribute.date '
date CDATA #REQUIRED'>
<!ENTITY % mpm.att.time.symbolic.date.attributes '
 %mpm.att.time.symbolic.date.attribute.date;'> 
<!ENTITY % mpm.att.time.physical.milliseconds.offset.attribute.milliseconds.offset '
milliseconds.offset CDATA #REQUIRED'>
<!ENTITY % mpm.att.time.physical.milliseconds.offset.attributes '
 %mpm.att.time.physical.milliseconds.offset.attribute.milliseconds.offset;'> 
<!ENTITY % mpm.att.time.physical.milliseconds.timingBasis.attribute.milliseconds.timingBasis '
milliseconds.timingBasis CDATA #REQUIRED'>
<!ENTITY % mpm.att.time.physical.milliseconds.timingBasis.attributes '
 %mpm.att.time.physical.milliseconds.timingBasis.attribute.milliseconds.timingBasis;'> 
<!ENTITY % mpm.att.distribution.clips.attribute.clip.lower '
clip.lower CDATA #REQUIRED'>

<!ENTITY % mpm.att.distribution.clips.attribute.clip.upper '
clip.upper CDATA #REQUIRED'>
<!ENTITY % mpm.att.distribution.clips.attributes '
 %mpm.att.distribution.clips.attribute.clip.lower;
 %mpm.att.distribution.clips.attribute.clip.upper;'> 
<!ENTITY % mpm.att.distribution.limits.attribute.limit.lower '
limit.lower CDATA #REQUIRED'>

<!ENTITY % mpm.att.distribution.limits.attribute.limit.upper '
limit.upper CDATA #REQUIRED'>
<!ENTITY % mpm.att.distribution.limits.attributes '
 %mpm.att.distribution.limits.attribute.limit.lower;
 %mpm.att.distribution.limits.attribute.limit.upper;'> 
<!ENTITY % model.partContent "header |dated"> 
<!ENTITY % model.partContent_sequence "header, dated"> 
<!ENTITY % model.partContent_sequenceOptional "header?, dated?"> 
<!ENTITY % model.partContent_sequenceOptionalRepeatable "header*, dated*"> 
<!ENTITY % model.partContent_sequenceRepeatable "header+, dated+"> 
<!ENTITY % model.styleCollectionLike "articulationStyles |dynamicsStyles |metricalAccentuationStyles |rubatoStyles |tempoStyles"> 
<!ENTITY % model.styleCollectionLike_sequence "articulationStyles, dynamicsStyles, metricalAccentuationStyles, rubatoStyles, tempoStyles"> 
<!ENTITY % model.styleCollectionLike_sequenceOptional "articulationStyles?, dynamicsStyles?, metricalAccentuationStyles?, rubatoStyles?, tempoStyles?"> 
<!ENTITY % model.styleCollectionLike_sequenceOptionalRepeatable "articulationStyles*, dynamicsStyles*, metricalAccentuationStyles*, rubatoStyles*, tempoStyles*"> 
<!ENTITY % model.styleCollectionLike_sequenceRepeatable "articulationStyles+, dynamicsStyles+, metricalAccentuationStyles+, rubatoStyles+, tempoStyles+"> 
<!ENTITY % model.mapLike "articulationMap |asynchronyMap |dynamicsMap |metricalAccentuationMap |tempoMap |rubatoMap |imprecisionMap |imprecisionMap.timing |imprecisionMap.dynamics |imprecisionMap.toneduration |imprecisionMap.tuning"> 
<!ENTITY % model.mapLike_sequence "articulationMap, asynchronyMap, dynamicsMap, metricalAccentuationMap, tempoMap, rubatoMap, imprecisionMap, imprecisionMap.timing, imprecisionMap.dynamics, imprecisionMap.toneduration, imprecisionMap.tuning"> 
<!ENTITY % model.mapLike_sequenceOptional "articulationMap?, asynchronyMap?, dynamicsMap?, metricalAccentuationMap?, tempoMap?, rubatoMap?, imprecisionMap?, imprecisionMap.timing?, imprecisionMap.dynamics?, imprecisionMap.toneduration?, imprecisionMap.tuning?"> 
<!ENTITY % model.mapLike_sequenceOptionalRepeatable "articulationMap*, asynchronyMap*, dynamicsMap*, metricalAccentuationMap*, tempoMap*, rubatoMap*, imprecisionMap*, imprecisionMap.timing*, imprecisionMap.dynamics*, imprecisionMap.toneduration*, imprecisionMap.tuning*"> 
<!ENTITY % model.mapLike_sequenceRepeatable "articulationMap+, asynchronyMap+, dynamicsMap+, metricalAccentuationMap+, tempoMap+, rubatoMap+, imprecisionMap+, imprecisionMap.timing+, imprecisionMap.dynamics+, imprecisionMap.toneduration+, imprecisionMap.tuning+"> 
<!ENTITY % model.distributionLike "distribution.uniform |distribution.gaussian |distribution.triangular |distribution.correlated.brownianNoise |distribution.correlated.compensatingTriangle |distribution.list"> 
<!ENTITY % model.distributionLike_sequence "distribution.uniform, distribution.gaussian, distribution.triangular, distribution.correlated.brownianNoise, distribution.correlated.compensatingTriangle, distribution.list"> 
<!ENTITY % model.distributionLike_sequenceOptional "distribution.uniform?, distribution.gaussian?, distribution.triangular?, distribution.correlated.brownianNoise?, distribution.correlated.compensatingTriangle?, distribution.list?"> 
<!ENTITY % model.distributionLike_sequenceOptionalRepeatable "distribution.uniform*, distribution.gaussian*, distribution.triangular*, distribution.correlated.brownianNoise*, distribution.correlated.compensatingTriangle*, distribution.list*"> 
<!ENTITY % model.distributionLike_sequenceRepeatable "distribution.uniform+, distribution.gaussian+, distribution.triangular+, distribution.correlated.brownianNoise+, distribution.correlated.compensatingTriangle+, distribution.list+"> 
<!-- start elements -->

<!--doc:(articulation map) ... -->
<!ELEMENT articulationMap ((style)*|(articulation)*)*>
<!ATTLIST articulationMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST articulationMap
 %mpm.att.id.attributes; >
<!--doc:(articulation style collection) ... -->
<!ELEMENT articulationStyles  EMPTY>
<!ATTLIST articulationStyles xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST articulationStyles
 %mpm.att.id.attributes; >
<!--doc:(asynchrony) This element sets a constant milliseconds offset starting a the musical position specified via attribute date ans lasting until the subsequent asynchrony element in the asynchronyMap specifies a different offset. -->
<!ELEMENT asynchrony  EMPTY>
<!ATTLIST asynchrony xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST asynchrony
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.time.physical.milliseconds.offset.attributes;
 %mpm.att.id.attributes; >
<!--doc:(asynchrony map) The asynchronyMap is used to specify timing offsets/delays of a musical part or group of parts. -->
<!ELEMENT asynchronyMap (asynchrony)*>
<!ATTLIST asynchronyMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST asynchronyMap
 %mpm.att.id.attributes; >
<!--doc:(dated information) The dated environment is the place for all datable information, ie. that are located at a specific position in time. They are organised in maps. Each map represents a specific domain, such as tempo, rubato, asynchrony, dynamics, metrical accentuation, articulation, etc. -->
<!ELEMENT dated (%model.mapLike_sequenceOptional;)?>
<!ATTLIST dated xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!--doc:(Brownian noise distribution) This defines a correlated distribution based on Brownian noise. -->
<!ELEMENT distribution.correlated.brownianNoise  EMPTY>
<!ATTLIST distribution.correlated.brownianNoise xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST distribution.correlated.brownianNoise
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.distribution.limits.attributes;
 %mpm.att.time.physical.milliseconds.timingBasis.attributes;
 %mpm.att.id.attributes;
stepWidth.max CDATA #REQUIRED >
<!--doc:(Compensating Triangle Distribution) This defines a Compensating Triangle Distribution. -->
<!ELEMENT distribution.correlated.compensatingTriangle  EMPTY>
<!ATTLIST distribution.correlated.compensatingTriangle xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST distribution.correlated.compensatingTriangle
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.distribution.limits.attributes;
 %mpm.att.distribution.clips.attributes;
 %mpm.att.time.physical.milliseconds.timingBasis.attributes;
 %mpm.att.id.attributes;
degreeOfCorrelation CDATA #REQUIRED >
<!--doc:(Gaussian distribution) This defines a gaussian distribution. Its expectation value is 0.0. Attributes limit.lower and limit.upper are used to clip the range of random values. -->
<!ELEMENT distribution.gaussian  EMPTY>
<!ATTLIST distribution.gaussian xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST distribution.gaussian
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.distribution.limits.attributes;
 %mpm.att.id.attributes;
deviation.standard CDATA #REQUIRED >
<!--doc:(distribution list) This defines a list of distribution values. -->
<!ELEMENT distribution.list (measurement)*>
<!ATTLIST distribution.list xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST distribution.list
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.time.physical.milliseconds.timingBasis.attributes;
 %mpm.att.id.attributes; >
<!--doc:(triangular distribution) This defines a triangular distribution. -->
<!ELEMENT distribution.triangular  EMPTY>
<!ATTLIST distribution.triangular xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST distribution.triangular
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.distribution.clips.attributes;
 %mpm.att.distribution.limits.attributes;
 %mpm.att.id.attributes;
mode CDATA #REQUIRED >
<!--doc:(uniform distribution) This defines a uniform distribution within the specified limits (inclusive). -->
<!ELEMENT distribution.uniform  EMPTY>
<!ATTLIST distribution.uniform xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST distribution.uniform
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.distribution.limits.attributes;
 %mpm.att.id.attributes; >
<!--doc:(dynamics map) ... -->
<!ELEMENT dynamicsMap ((style)*|(dynamics)*)*>
<!ATTLIST dynamicsMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST dynamicsMap
 %mpm.att.id.attributes; >
<!--doc:(dynamics style collection) ... -->
<!ELEMENT dynamicsStyles  EMPTY>
<!ATTLIST dynamicsStyles xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST dynamicsStyles
 %mpm.att.id.attributes; >
<!--doc:(global performance data) This element includes all information that apply to all parts of a musical performance. -->
<!ELEMENT global (%model.partContent_sequence;)>
<!ATTLIST global xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!--doc:(header information) The header environment in MPM is the place for non-dateable information, i.e. information that are not tied to a particular position on the time axis, such as style definitions. -->
<!ELEMENT header (%model.styleCollectionLike_sequenceOptional;)?>
<!ATTLIST header xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!--doc:(imprecision map) This map is used to model random fluctuations. The domain, however, is unspecified. -->
<!ELEMENT imprecisionMap (%model.distributionLike;)*>
<!ATTLIST imprecisionMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST imprecisionMap
 %mpm.att.id.attributes; >
<!--doc:(imprecision map dynamics) This map is used to model random dynamics fluctuations. -->
<!ELEMENT imprecisionMap.dynamics (%model.distributionLike;)*>
<!ATTLIST imprecisionMap.dynamics xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST imprecisionMap.dynamics
 %mpm.att.id.attributes; >
<!--doc:(imprecision map timing) This map is used to model random timing/rhythmical fluctuations. -->
<!ELEMENT imprecisionMap.timing (%model.distributionLike;)*>
<!ATTLIST imprecisionMap.timing xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST imprecisionMap.timing
 %mpm.att.id.attributes; >
<!--doc:(imprecision map tone duration) This map is used to model random imprecision in articulation/tone duration. -->
<!ELEMENT imprecisionMap.toneduration (%model.distributionLike;)*>
<!ATTLIST imprecisionMap.toneduration xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST imprecisionMap.toneduration
 %mpm.att.id.attributes; >
<!--doc:(imprecision map tuning) This map is used to model random fluctuations in tuning. -->
<!ELEMENT imprecisionMap.tuning (%model.distributionLike;)*>
<!ATTLIST imprecisionMap.tuning xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST imprecisionMap.tuning
 %mpm.att.id.attributes;
detuneUnit (cents|Hz|Hertz) #REQUIRED >
<!--doc:(measurement) This element represents a 64 bit floating-point list entry. -->
<!ELEMENT measurement  EMPTY>
<!ATTLIST measurement xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST measurement
 %mpm.att.value.double.attributes;
 %mpm.att.id.attributes; >
<!--doc:(metrical accentuation map) ... -->
<!ELEMENT metricalAccentuationMap ((style)*|(accentuationPattern)*)*>
<!ATTLIST metricalAccentuationMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST metricalAccentuationMap
 %mpm.att.id.attributes; >
<!--doc:(collection of styles for metrical accentuation) ... -->
<!ELEMENT metricalAccentuationStyles  EMPTY>
<!ATTLIST metricalAccentuationStyles xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST metricalAccentuationStyles
 %mpm.att.id.attributes; >
<!--doc:(MPM document) The root element of an MPM-conformant document. -->
<!ELEMENT mpm (relatedResources)?(performance)+>
<!ATTLIST mpm xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!--doc:(part-specific performance data) This element includes all information that applies to a specific musical part or voice. -->
<!ELEMENT part (%model.partContent_sequence;)>
<!ATTLIST part xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST part
 %mpm.att.name.attributes;
 %mpm.att.number.attributes;
 %mpm.att.id.attributes;
 %mpm.att.midiRouting.attributes; >
<!--doc:(performance description) This element includes all information of a single musical performance. -->
<!ELEMENT performance global(part)*>
<!ATTLIST performance xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST performance
 %mpm.att.name.attributes;
 %mpm.att.id.attributes;
 %mpm.att.pulsesPerQuarter.attributes; >
<!--doc:(related resources) This element can be used to proved references to related resources of (musical) data. -->
<!ELEMENT relatedResources (resource)+>
<!ATTLIST relatedResources xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!--doc:(data reference) This element represents a reference to a related resource of (musical) data. -->
<!ELEMENT resource  EMPTY>
<!ATTLIST resource xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST resource
 %mpm.att.reference.resource.attributes; >
<!--doc:(rubato map) ... -->
<!ELEMENT rubatoMap ((style)*|(rubato)*)*>
<!ATTLIST rubatoMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST rubatoMap
 %mpm.att.id.attributes; >
<!--doc:(rubato style collection) ... -->
<!ELEMENT rubatoStyles  EMPTY>
<!ATTLIST rubatoStyles xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST rubatoStyles
 %mpm.att.id.attributes; >
<!--doc:(style switch) This element is used to switch between styles which are defined in the global or local header environment via styleDef elements. -->
<!ELEMENT style  EMPTY>
<!ATTLIST style xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST style
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.id.attributes;
name.ref CDATA #REQUIRED
defaultArticulation CDATA #IMPLIED >
<!--doc:(tempo) A tempo instruction -->
<!ELEMENT tempo  EMPTY>
<!ATTLIST tempo xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST tempo
 %mpm.att.time.symbolic.date.attributes;
 %mpm.att.id.attributes;
bpm CDATA #REQUIRED
beatLength CDATA #REQUIRED
transition.to CDATA #IMPLIED
meanTempoAt CDATA #IMPLIED >
<!--doc:(tempo map) ... -->
<!ELEMENT tempoMap ((style)*|(tempo)*)*>
<!ATTLIST tempoMap xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST tempoMap
 %mpm.att.id.attributes; >
<!--doc:(teampo style collection) ... -->
<!ELEMENT tempoStyles  EMPTY>
<!ATTLIST tempoStyles xmlns CDATA "http://www.cemfi.de/mpm/ns/1.0">
<!ATTLIST tempoStyles
 %mpm.att.id.attributes; >
<!-- end elements -->
