schemata/mpm.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.cemfi.de/mpm/ns/1.0"><!--
Schema generated from ODD source 2016-08-16T18:47:32Z. 
Edition: Version 2.7.0. Last updated on
	16th September 2014, revision 13036
Edition Location: http://www.tei-c.org/Vault/P5/Version 2.7.0/
  
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="mpm.data.URI">
      <data type="anyURI"/>
   </define>
   <define name="mpm.model.performance">
      <interleave>
         <ref name="mpm.global"/>
         <zeroOrMore>
            <ref name="mpm.part"/>
         </zeroOrMore>
      </interleave>
   </define>
   <define name="mpm.att.linking.attributes">
      <ref name="mpm.att.linking.attribute.uri"/>
   </define>
   <define name="mpm.att.linking.attribute.uri">
      <optional>
         <attribute name="uri">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <ref name="mpm.data.URI"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.enumeration.attributes">
      <ref name="mpm.att.enumeration.attribute.number"/>
   </define>
   <define name="mpm.att.enumeration.attribute.number">
      <optional>
         <attribute name="number">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">1</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.named.attributes">
      <ref name="mpm.att.named.attribute.name"/>
   </define>
   <define name="mpm.att.named.attribute.name">
      <optional>
         <attribute name="name">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.startStyle.attributes">
      <ref name="mpm.att.startStyle.attribute.startStyle"/>
   </define>
   <define name="mpm.att.startStyle.attribute.startStyle">
      <optional>
         <attribute name="startStyle">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.typed.attributes">
      <ref name="mpm.att.typed.attribute.type"/>
   </define>
   <define name="mpm.att.typed.attribute.type">
      <attribute name="type">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <data type="string"/>
      </attribute>
   </define>
   <define name="mpm.att.value.attributes">
      <ref name="mpm.att.value.attribute.value"/>
   </define>
   <define name="mpm.att.value.attribute.value">
      <optional>
         <attribute name="value">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="float"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.mpm">
      <element name="mpm" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">root element of mpm.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.referenceMusic"/>
         </zeroOrMore>
         <oneOrMore>
            <ref name="mpm.performance"/>
         </oneOrMore>
      </element>
   </define>
   <define name="mpm.performance">
      <element name="performance" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups information for one performance style.</a:documentation>
         <ref name="mpm.model.performance"/> 
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mpm-performance-performance.att.name-constraint-2">
            <sch:rule xmlns="http://www.cemfi.de/mpm/ns/1.0"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:svg="http://www.w3.org/2000/svg"
                      xmlns:math="http://www.w3.org/1998/Math/MathML"
                      xmlns:mpm="http://www.cemfi.de/mpm/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:tei="http://www.tei-c.org/ns/1.0"
                      context="mpm:performance">
                <sch:assert role="error" test="@name">The performance element must have @name.</sch:assert>
              </sch:rule>
         </pattern> 
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mpm-performance-performance.att.name-constraint-3">
            <rule context="mpm:performance">
               <sch:report xmlns="http://www.cemfi.de/mpm/ns/1.0"
                           xmlns:xi="http://www.w3.org/2001/XInclude"
                           xmlns:svg="http://www.w3.org/2000/svg"
                           xmlns:math="http://www.w3.org/1998/Math/MathML"
                           xmlns:mpm="http://www.cemfi.de/mpm/ns/1.0"
                           xmlns:rng="http://relaxng.org/ns/structure/1.0"
                           xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                           xmlns:tei="http://www.tei-c.org/ns/1.0"
                           role="error"
                           test="(@name = ./preceding::mpm:performance/@name) or (@name = ./following::mpm:performance/@name)">The performance element must have a unique value of @name. The current elements value "<sch:value-of select="@name"/>" has already been taken by a mpm:performance element <sch:value-of select="if(@name = ./preceding::mpm:performance/@name) then('preceding')else('following')"/> the current element.</sch:report>
            </rule>
         </pattern>
         <ref name="mpm.att.named.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.referenceMusic">
      <element name="referenceMusic" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">list of references to files processable with this performance description</a:documentation>
         <zeroOrMore>
            <ref name="mpm.reference"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.reference">
      <element name="reference" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">reference to a music representation processable by this performance description.</a:documentation>
         <empty/> 
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mpm-reference-reference.att.type-constraint-3">
            <sch:rule xmlns="http://www.cemfi.de/mpm/ns/1.0"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:svg="http://www.w3.org/2000/svg"
                      xmlns:math="http://www.w3.org/1998/Math/MathML"
                      xmlns:mpm="http://www.cemfi.de/mpm/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:tei="http://www.tei-c.org/ns/1.0"
                      context="mpm:reference">
                <sch:assert role="error" test="@type">The reference element must have @type.</sch:assert>
              </sch:rule>
         </pattern> 
         <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
                  id="mpm-reference-reference.att.uri-constraint-4">
            <sch:rule xmlns="http://www.cemfi.de/mpm/ns/1.0"
                      xmlns:xi="http://www.w3.org/2001/XInclude"
                      xmlns:svg="http://www.w3.org/2000/svg"
                      xmlns:math="http://www.w3.org/1998/Math/MathML"
                      xmlns:mpm="http://www.cemfi.de/mpm/ns/1.0"
                      xmlns:rng="http://relaxng.org/ns/structure/1.0"
                      xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                      xmlns:tei="http://www.tei-c.org/ns/1.0"
                      context="mpm:reference">
                <sch:assert role="error" test="@uri">The reference element must have @uri.</sch:assert>
              </sch:rule>
         </pattern>
         <ref name="mpm.att.typed.attributes"/>
         <ref name="mpm.att.linking.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.styleDef">
      <element name="styleDef" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Element used in header sections for defining styles that can be referenced from the corresponding map elements. </a:documentation>
         <choice>
            <zeroOrMore>
               <ref name="mpm.articulationDef"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.dynamicsDef"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.accentuationPatternDef"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.tempoDef"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.rubatoDef"/>
            </zeroOrMore>
         </choice>
         <ref name="mpm.att.named.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.att.midi.attributes">
      <ref name="mpm.att.midi.attribute.midi.port"/>
      <ref name="mpm.att.midi.attribute.midi.channel"/>
   </define>
   <define name="mpm.att.midi.attribute.midi.port">
      <optional>
         <attribute name="midi.port">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.midi.attribute.midi.channel">
      <optional>
         <attribute name="midi.channel">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">15</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.partLike.attributes">
      <ref name="mpm.att.enumeration.attributes"/>
      <ref name="mpm.att.midi.attributes"/>
      <ref name="mpm.att.named.attributes"/>
   </define>
   <define name="mpm.model.mapLike">
      <choice>
         <optional>
            <ref name="mpm.articulationMap"/>
         </optional>
         <ref name="mpm.dynamicsMap"/>
         <ref name="mpm.ornamentationMap"/>
         <ref name="mpm.metricalAccentuationMap"/>
         <optional>
            <ref name="mpm.tempoMap"/>
         </optional>
         <optional>
            <ref name="mpm.rubatoMap"/>
         </optional>
      </choice>
   </define>
   <define name="mpm.att.instructionLike.attributes">
      <ref name="mpm.att.instructionLike.attribute.date"/>
   </define>
   <define name="mpm.att.instructionLike.attribute.date">
      <optional>
         <attribute name="date">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.dated">
      <element name="dated" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <zeroOrMore>
            <ref name="mpm.model.mapLike"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.global">
      <element name="global" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="mpm.header"/>
         <ref name="mpm.dated"/>
      </element>
   </define>
   <define name="mpm.header">
      <element name="header" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <interleave>
            <optional>
               <ref name="mpm.sequencingCommands"/>
            </optional>
            <optional>
               <ref name="mpm.viennaCtrls"/>
            </optional>
            <optional>
               <ref name="mpm.articulationStyles"/>
            </optional>
            <optional>
               <ref name="mpm.dynamicsStyles"/>
            </optional>
            <optional>
               <ref name="mpm.ornamentationStyles"/>
            </optional>
            <optional>
               <ref name="mpm.metricalAccentuationStyles"/>
            </optional>
            <optional>
               <ref name="mpm.tempoStyles"/>
            </optional>
            <optional>
               <ref name="mpm.rubatoStyles"/>
            </optional>
         </interleave>
      </element>
   </define>
   <define name="mpm.part">
      <element name="part" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines a part. Parts with @port and @channel that do not match any MIDI data will be ignored.</a:documentation>
         <ref name="mpm.header"/>
         <ref name="mpm.dated"/>
         <ref name="mpm.att.partLike.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.switch">
      <element name="switch" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <empty/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <ref name="mpm.att.standardArticulation.attributes"/>
         <attribute name="style">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <text/>
         </attribute> 
         <empty/>
      </element>
   </define>
   <define name="mpm.att.vienna.attributes">
      <ref name="mpm.att.vienna.attribute.velXFadeOnOff"/>
      <ref name="mpm.att.vienna.attribute.velXFade"/>
      <ref name="mpm.att.vienna.attribute.hSpan"/>
      <ref name="mpm.att.vienna.attribute.vSpan"/>
   </define>
   <define name="mpm.att.vienna.attribute.velXFadeOnOff">
      <optional>
         <attribute name="velXFadeOnOff">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Controller number for switching VelocityXFade on or off. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">127</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.vienna.attribute.velXFade">
      <optional>
         <attribute name="velXFade">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Controller number for VelocityXFade. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">127</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.vienna.attribute.hSpan">
      <optional>
         <attribute name="hSpan">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Controller number for switching the performance-matrix column (duration), standard value is 21.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">127</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.vienna.attribute.vSpan">
      <optional>
         <attribute name="vSpan">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Controller number for switching the performance-matrix row (articulation), standard value is 1 (pitchwheel), because in Vienna Instruments this is the corresponding standard controller.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">127</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.sequencingCommands">
      <element name="sequencingCommands" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines a part. Parts with @port and @channel that do not match any MIDI data will be ignored.</a:documentation>
         <empty/>
         <optional>
            <attribute name="loop">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="boolean"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="mute">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="boolean"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="mpm.viennaCtrls">
      <element name="viennaCtrls" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Vienna Instruments allow control of "Velocity-Cross-Fade", that influences velocity, expression, ChannelVolume and tone color accordingly. It can be addressed via specific controllers. To provide the engine with the right controller data this element allows the corresponding encoding. On performance processing a global standard-tag will be generated if none exists in order to provide one for each part, with @velXFade=20 and @velXFadeOnOff=20.</a:documentation>
         <empty/>
         <ref name="mpm.att.vienna.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.att.articulation.attributes">
      <ref name="mpm.att.articulation.attribute.absoluteVelocity"/>
      <ref name="mpm.att.articulation.attribute.absoluteVelocityChange"/>
      <ref name="mpm.att.articulation.attribute.relativeVelocity"/>
      <ref name="mpm.att.articulation.attribute.absoluteDuration"/>
      <ref name="mpm.att.articulation.attribute.absoluteDurationChange"/>
      <ref name="mpm.att.articulation.attribute.absoluteDurationMs"/>
      <ref name="mpm.att.articulation.attribute.absoluteDurationChangeMs"/>
      <ref name="mpm.att.articulation.attribute.relativeDuration"/>
   </define>
   <define name="mpm.att.articulation.attribute.absoluteVelocity">
      <optional>
         <attribute name="absoluteVelocity">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives an absolute value for velocity that will replace existing velocity values.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">127</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.absoluteVelocityChange">
      <optional>
         <attribute name="absoluteVelocityChange">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives an absolute value (+/-) that will be added to the local velocity.</a:documentation>
            <data type="int"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.relativeVelocity">
      <optional>
         <attribute name="relativeVelocity">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives a relative amount of velocity change as decimal number, e.g. 1=100% (no change), 0.5% (half velocity), 2.0=200% (double velocity).</a:documentation>
            <data type="decimal">
               <param name="minInclusive">0.0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.absoluteDuration">
      <optional>
         <attribute name="absoluteDuration">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives an absolute value for duration (in MIDI ticks) that will replace existing local duration values.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">127</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.absoluteDurationChange">
      <optional>
         <attribute name="absoluteDurationChange">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives an absolute value (+/-) in MIDI ticks that will be added to the local duration values.</a:documentation>
            <data type="int"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.absoluteDurationMs">
      <optional>
         <attribute name="absoluteDurationMs">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives an absolute duration in milliseconds that will replace existing local duration values.</a:documentation>
            <data type="int">
               <param name="minInclusive">0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.absoluteDurationChangeMs">
      <optional>
         <attribute name="absoluteDurationChangeMs">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives an absolute value (+/-) in milliseconds that will be added to existing local duration values.</a:documentation>
            <data type="int"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.articulation.attribute.relativeDuration">
      <optional>
         <attribute name="relativeDuration">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives a relative amount of duration change as decimal number, e.g. 1=100% (no change), 0.5% (half duration), 2.0=200% (double duration).</a:documentation>
            <data type="decimal">
               <param name="minInclusive">0.0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.standardArticulation.attributes">
      <ref name="mpm.att.standardArticulation.attribute.standardArticulation"/>
   </define>
   <define name="mpm.att.standardArticulation.attribute.standardArticulation">
      <optional>
         <attribute name="standardArticulation">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.articulation">
      <element name="articulation" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines an articulation with a stylewide unique @name and respective duration and velocity modifiers.</a:documentation>
         <empty/>
         <ref name="mpm.att.named.attributes"/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.articulationDef">
      <element name="articulationDef" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines an articulation with a stylewide unique @name nad respective duration and velocity modifiers.</a:documentation>
         <empty/>
         <ref name="mpm.att.named.attributes"/>
         <ref name="mpm.att.articulation.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.articulationStyles">
      <element name="articulationStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Enoded in global or local context's header-element. Groups style definitions. Global an local info may complement each other. If definitions with the same name exist in global and local context, the local instructions will override global definitions.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.styleDef"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.articulationMap">
      <element name="articulationMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Enoded in global or local context's header-element. Groups style definitions. Global an local info may complement each other. If definitions with the same name exist in global and local context, the local instructions will override global definitions.</a:documentation>
         <interleave>
            <zeroOrMore>
               <ref name="mpm.switch"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.articulation"/>
            </zeroOrMore>
         </interleave>
         <ref name="mpm.att.standardArticulation.attributes"/>
         <ref name="mpm.att.startStyle.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.att.dynamics.attributes">
      <ref name="mpm.att.dynamics.attribute.curvature"/>
      <ref name="mpm.att.dynamics.attribute.volume"/>
      <ref name="mpm.att.dynamics.attribute.transition.to"/>
      <ref name="mpm.att.dynamics.attribute.protraction"/>
      <ref name="mpm.att.dynamics.attribute.subNoteDynamics"/>
   </define>
   <define name="mpm.att.dynamics.attribute.curvature">
      <optional>
         <attribute name="curvature">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Optional. Indicates the deviation from a linear volume transition/envelope. Potential values: [0] linear envelope; [1] steep envelop on the curves turning point; [0.3] default value.</a:documentation>
            <data type="float"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.dynamics.attribute.volume">
      <optional>
         <attribute name="volume">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives the volume either as defined in parent::dynamicsmap attributes or as absolute MIDI velocity (0 to 127).</a:documentation>
            <text/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.dynamics.attribute.transition.to">
      <optional>
         <attribute name="transition.to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives the target dynamics/volume either as defined in parent::dynamicsmap attributes or as absolute MIDI velocity (0 to 127).</a:documentation>
            <text/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.dynamics.attribute.protraction">
      <optional>
         <attribute name="protraction">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Optional. Indicates how long the level adjustment will be delayed. Value rang -1 to 1. Values smaller than [0] provoke a quicker change at the beginning, values larger than [1] provoke a quicker change at the end of the transgression.</a:documentation>
            <data type="float">
               <param name="minInclusive">-1</param>
               <param name="maxInclusive">1</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.dynamics.attribute.subNoteDynamics">
      <optional>
         <attribute name="subNoteDynamics">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives the density of ChannelVolumeChange-commands. This resembles the slope of 't' in calculating the bezier curve, e.g. for(t = 0; t lte 1; t = t + subNoteDynamics) {calculate X-Y-coordinates at t;}. If no subnote dynamics are wanted, the value is set to 0, 1, or left away</a:documentation>
            <data type="decimal">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">1</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.dynamics">
      <element name="dynamics" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines an articulation with a stylewide unique @name and respective duration and velocity modifiers.</a:documentation>
         <empty/>
         <ref name="mpm.att.dynamics.attributes"/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.dynamicsDef">
      <element name="dynamicsDef" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines dynamincs with a stylewide unique @name nad respective velocity values.</a:documentation>
         <empty/>
         <ref name="mpm.att.articulation.attributes"/>
         <ref name="mpm.att.named.attributes"/>
         <ref name="mpm.att.value.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.dynamicsStyles">
      <element name="dynamicsStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Enoded in global or local context's header-element. Groups style definitions. Global an local info may complement each other. If definitions with the same name exist in global and local context, the local instructions will override global definitions.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.styleDef"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.dynamicsMap">
      <element name="dynamicsMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Allowed in global or local context as child of dated-element. Contains dated dynamics instructions. Preprocessing has to make sure a global dynamicsmap exists for every style, and pass them to lokal contexts (part-element) if no dynamicsmap is present there. So to say, the global dynamicsmap has to be propagated to local contexts if not overridden there.</a:documentation>
         <interleave>
            <zeroOrMore>
               <ref name="mpm.switch"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.dynamics"/>
            </zeroOrMore>
         </interleave>
         <ref name="mpm.att.startStyle.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.ornamentationStyles">
      <element name="ornamentationStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Enoded in global or local context's header-element. Groups style definitions. Global an local info may complement each other. If definitions with the same name exist in global and local context, the local instructions will override global definitions.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.styleDef"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.ornamentationMap">
      <element name="ornamentationMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="mpm.att.accentuation.attributes">
      <ref name="mpm.att.accentuation.attribute.beat"/>
      <ref name="mpm.att.accentuation.attribute.value"/>
      <ref name="mpm.att.accentuation.attribute.transition.from"/>
      <ref name="mpm.att.accentuation.attribute.transition.to"/>
   </define>
   <define name="mpm.att.accentuation.attribute.beat">
      <optional>
         <attribute name="beat">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="float"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.accentuation.attribute.value">
      <optional>
         <attribute name="value">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="float"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.accentuation.attribute.transition.from">
      <optional>
         <attribute name="transition.from">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="float"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.accentuation.attribute.transition.to">
      <optional>
         <attribute name="transition.to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="float"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.model.accentuationPatternDefPart">
      <choice>
         <zeroOrMore>
            <ref name="mpm.accentuation"/>
         </zeroOrMore>
      </choice>
   </define>
   <define name="mpm.accentuation">
      <element name="accentuation" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines an articulation with a stylewide unique @name and respective duration and velocity modifiers.</a:documentation>
         <empty/>
         <ref name="mpm.att.accentuation.attributes"/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.accentuationPattern">
      <element name="accentuationPattern" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">.</a:documentation>
         <empty/>
         <ref name="mpm.att.named.attributes"/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <optional>
            <attribute name="scale">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="int">
                  <param name="minInclusive">0</param>
                  <param name="maxInclusive">127</param>
               </data>
            </attribute>
         </optional>
         <optional>
            <attribute name="loop">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
               <data type="boolean"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="mpm.accentuationPatternDef">
      <element name="accentuationPatternDef" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">.</a:documentation>
         <ref name="mpm.model.accentuationPatternDefPart"/>
         <ref name="mpm.att.named.attributes"/>
         <optional>
            <attribute name="length">
               <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Gives the pattern length in metrical beats.</a:documentation>
               <data type="float"/>
            </attribute>
         </optional>
         <empty/>
      </element>
   </define>
   <define name="mpm.metricalAccentuationMap">
      <element name="metricalAccentuationMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <interleave>
            <zeroOrMore>
               <ref name="mpm.switch"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.accentuationPattern"/>
            </zeroOrMore>
         </interleave>
         <ref name="mpm.att.startStyle.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.metricalAccentuationStyles">
      <element name="metricalAccentuationStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <zeroOrMore>
            <ref name="mpm.styleDef"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.att.tempo.attributes">
      <ref name="mpm.att.tempo.attribute.bpm"/>
      <ref name="mpm.att.tempo.attribute.beatLength"/>
      <ref name="mpm.att.tempo.attribute.meanTempoAt"/>
      <ref name="mpm.att.tempo.attribute.transition.to"/>
   </define>
   <define name="mpm.att.tempo.attribute.bpm">
      <optional>
         <attribute name="bpm">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.tempo.attribute.beatLength">
      <optional>
         <attribute name="beatLength">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="decimal">
               <param name="minInclusive">0.0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.tempo.attribute.meanTempoAt">
      <optional>
         <attribute name="meanTempoAt">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="decimal">
               <param name="minInclusive">0.0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.tempo.attribute.transition.to">
      <optional>
         <attribute name="transition.to">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.tempo">
      <element name="tempo" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A tempo instruction.</a:documentation>
         <empty/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <ref name="mpm.att.tempo.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.tempoDef">
      <element name="tempoDef" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines a tempo.</a:documentation>
         <empty/>
         <ref name="mpm.att.named.attributes"/>
         <ref name="mpm.att.value.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.tempoMap">
      <element name="tempoMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">List dated tempo instructions.</a:documentation>
         <interleave>
            <zeroOrMore>
               <ref name="mpm.switch"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.tempo"/>
            </zeroOrMore>
         </interleave>
         <ref name="mpm.att.startStyle.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.tempoStyles">
      <element name="tempoStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Groups definition of tempo styles.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.styleDef"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.att.rubato.attributes">
      <ref name="mpm.att.rubato.attribute.frameLength"/>
      <ref name="mpm.att.rubato.attribute.intensity"/>
      <ref name="mpm.att.rubato.attribute.lateStart"/>
      <ref name="mpm.att.rubato.attribute.earlyEnd"/>
      <ref name="mpm.att.named.attribute.name"/>
   </define>
   <define name="mpm.att.rubato.attribute.frameLength">
      <optional>
         <attribute name="frameLength">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines the length of the potential rubato</a:documentation>
            <data type="int"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.rubato.attribute.intensity">
      <optional>
         <attribute name="intensity">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">defines the itensity of the rubato</a:documentation>
            <data type="decimal"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.rubato.attribute.lateStart">
      <optional>
         <attribute name="lateStart">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">?</a:documentation>
            <data type="decimal"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.rubato.attribute.earlyEnd">
      <optional>
         <attribute name="earlyEnd">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">?</a:documentation>
            <data type="decimal"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.rubato">
      <element name="rubato" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">A rubato instruction.</a:documentation>
         <empty/>
         <ref name="mpm.att.instructionLike.attributes"/>
         <ref name="mpm.att.rubato.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.rubatoDef">
      <element name="rubatoDef" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines a rubato.</a:documentation>
         <empty/>
         <ref name="mpm.att.rubato.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.rubatoMap">
      <element name="rubatoMap" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">List dated rubato instructions.</a:documentation>
         <interleave>
            <zeroOrMore>
               <ref name="mpm.switch"/>
            </zeroOrMore>
            <zeroOrMore>
               <ref name="mpm.rubato"/>
            </zeroOrMore>
         </interleave>
         <ref name="mpm.att.startStyle.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.rubatoStyles">
      <element name="rubatoStyles" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Groups definition of rubato styles.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.styleDef"/>
         </zeroOrMore>
      </element>
   </define>
   <start>
      <choice>
         <ref name="mpm.mpm"/>
      </choice>
   </start> 
   <ns xmlns="http://purl.oclc.org/dsdl/schematron"
       prefix="sch"
       uri="http://purl.oclc.org/dsdl/schematron"/> 
   <ns xmlns="http://purl.oclc.org/dsdl/schematron"
       prefix="mpm"
       uri="http://www.cemfi.de/mpm/ns/1.0"/> 
   <ns xmlns="http://purl.oclc.org/dsdl/schematron"
       prefix="sch"
       uri="http://purl.oclc.org/dsdl/schematron"/> 
   <pattern xmlns="http://purl.oclc.org/dsdl/schematron"
            id="mpm-needrules-constraint-1">
      <sch:rule xmlns:xi="http://www.w3.org/2001/XInclude"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns:math="http://www.w3.org/1998/Math/MathML"
                xmlns:mpm="http://www.cemfi.de/mpm/ns/1.0"
                xmlns:rng="http://relaxng.org/ns/structure/1.0"
                xmlns:sch="http://purl.oclc.org/dsdl/schematron"
                xmlns:tei="http://www.tei-c.org/ns/1.0"
                xmlns="http://www.cemfi.de/mpm/ns/1.0"
                context="tei:macroSpec/tei:constraintSpec[@scheme='isoschematron']/tei:constraint">
              <sch:report test="sch:assert|sch:report">An ISO Schematron constraint specification for a macro should not have an 'assert' or 'report' element without a parent 'rule' element</sch:report>
            </sch:rule>
   </pattern>
</grammar>
