rng/mpm2.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://www.cemfi.de/mpm/ns/1.0"><!--
Schema generated from ODD source 2016-06-29T11:08:55Z. 
Edition: Version 2.7.0. Last updated on
	16th September 2014, revision 13036
Edition Location: http://www.tei-c.org/Vault/P5/Version 2.7.0/
  
--><!---->
   <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron"
           prefix="tei"
           uri="http://www.tei-c.org/ns/1.0"/>
   <define name="mpm.data.URI">
      <data type="anyURI"/>
   </define>
   <define name="mpm.model.performance">
      <zeroOrMore>
         <ref name="mpm.global"/>
      </zeroOrMore>
      <zeroOrMore>
         <ref name="mpm.part"/>
      </zeroOrMore>
   </define>
   <define name="mpm.att.linking.attributes">
      <ref name="mpm.att.linking.attribute.uri"/>
   </define>
   <define name="mpm.att.linking.attribute.uri">
      <optional>
         <attribute name="uri">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <ref name="mpm.data.URI"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.enumeration.attributes">
      <ref name="mpm.att.enumeration.attribute.number"/>
   </define>
   <define name="mpm.att.enumeration.attribute.number">
      <optional>
         <attribute name="number">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">1</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.named.attributes">
      <ref name="mpm.att.named.attribute.name"/>
   </define>
   <define name="mpm.att.named.attribute.name">
      <optional>
         <attribute name="name">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.typed.attributes">
      <ref name="mpm.att.typed.attribute.type"/>
   </define>
   <define name="mpm.att.typed.attribute.type">
      <optional>
         <attribute name="type">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="string"/>
         </attribute>
      </optional>
   </define>
   <define name="mpm.mpm">
      <element name="mpm" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">root element of mpm.</a:documentation>
         <zeroOrMore>
            <ref name="mpm.referenceMusic"/>
         </zeroOrMore>
         <oneOrMore>
            <ref name="mpm.performance"/>
         </oneOrMore>
      </element>
   </define>
   <define name="mpm.performance">
      <element name="performance" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups information for one performance style.</a:documentation>
         <ref name="mpm.model.performance"/>
         <ref name="mpm.att.named.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.referenceMusic">
      <element name="referenceMusic" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">list of references to files processable with this performance description</a:documentation>
         <zeroOrMore>
            <ref name="mpm.reference"/>
         </zeroOrMore>
      </element>
   </define>
   <define name="mpm.reference">
      <element name="reference" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">reference to a music representation processable by this performance description.</a:documentation>
         <empty/>
         <ref name="mpm.att.typed.attributes"/>
         <ref name="mpm.att.linking.attributes"/>
         <empty/>
      </element>
   </define>
   <define name="mpm.att.midi.attributes">
      <ref name="mpm.att.midi.attribute.midi.port"/>
      <ref name="mpm.att.midi.attribute.midi.channel"/>
   </define>
   <define name="mpm.att.midi.attribute.midi.port">
      <optional>
         <attribute name="midi.port">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">0</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.midi.attribute.midi.channel">
      <optional>
         <attribute name="midi.channel">
            <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
            <data type="int">
               <param name="minInclusive">0</param>
               <param name="maxInclusive">15</param>
            </data>
         </attribute>
      </optional>
   </define>
   <define name="mpm.att.partLike.attributes">
      <ref name="mpm.att.enumeration.attributes"/>
      <ref name="mpm.att.midi.attributes"/>
      <ref name="mpm.att.named.attributes"/>
   </define>
   <define name="mpm.dated">
      <element name="dated" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="mpm.global">
      <element name="global" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <ref name="mpm.header"/>
         <ref name="mpm.dated"/>
      </element>
   </define>
   <define name="mpm.header">
      <element name="header" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
         <rng:empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
      </element>
   </define>
   <define name="mpm.part">
      <element name="part" ns="http://www.cemfi.de/mpm/ns/1.0">
         <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Defines a part. Parts with @port and @channel that do not match any MIDI data will be ignored.</a:documentation>
         <ref name="mpm.header"/>
         <ref name="mpm.dated"/>
         <ref name="mpm.att.partLike.attributes"/>
         <empty/>
      </element>
   </define>
   <start>
      <choice>
         <ref name="mpm.mpm"/>
      </choice>
   </start>
</grammar>
